html, 
body {
    padding: 0;
    margin: 0;
    height: 100%;
}

#background {
    background-color: black;
    background-image: url(../images/namroud-gorguis-FZWivbri0Xk-unsplash.jpg);
    background-position: center;
    background-size: cover;
    display: table;
    height: 100%;
    width: 100%;
}

#loginContainer * {
    color: black;
    font-family: 'Pangolin', cursive;
    font-weight: normal;
    line-height: 1em;
    box-sizing: border-box;
}

#loginContainer {
    width: 80%;
    margin: 0 auto;
    position: relative;
    max-width: 1024px;
}